body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.start-page-div {
  text-align: center;
  padding-top: 20px;
}

.start-page-div h4 {
  padding-bottom: 40px;
}

.start-button {
  font-size: x-large;
  border-radius: 10%;
  background-color: yellow;
}

.game-page-section {
  border: 1px solid black;
  height: 100px;
}

.question-header h4 {
  font-size: 40px;
}

.answer-btn {
  margin-top: 20px;
  width: 150px;
  height: 80px;
  font-size: 20px;
  border: solid black 2px;
  border-radius: 10px;
  background-color: cornflowerblue;
}

.answer-container {
  margin-left: 40%;
}

.question-header {
  text-align: center;
}
.high-score-h1 {
  margin-left: 40%;
}

.highScoreTable {
  margin: auto;
  font-size: 2.5rem;
  padding: 1.5rem;
  font-size: medium;
}

.highScoreTable {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}

#wrong-answer {
  color: red;
  text-align: center;
  font-size: 50px;
}

#correct-answer {
  color: green;
  text-align: center;
  font-size: 50px;
}
