body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.start-page-div {
  text-align: center;
  padding-top: 20px;
}

.start-page-div h4 {
  padding-bottom: 40px;
}

.start-button {
  font-size: x-large;
  border-radius: 10%;
  background-color: yellow;
}
